@font-face {
  font-family: Anton;
  src: url('./fonts/Anton-Regular.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('./fonts/Roboto-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
}
