
.orders-history{
  width: 42rem;
  margin: 10rem auto;

  &__title{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 36px;
  }

  &__body{
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .orders-history{
    width: 90%;
  }
}
