
.inputText{
  position: relative;
  height: 72px;
  width: 100%;

  &-label {
    font-family: 'Roboto-Regular', sans-serif;
    position: absolute;
    left: 16px;
    top: 18px;
    color: #787878;
    cursor: text;
    user-select: none;
    transition: all .2s;
  }

  &-input{
    border: 1px solid #bebebe;
    border-radius: 4px;
    width: 100%;


    &:focus + .inputText-label{
      font-size: 12px;
      top: 9px;
      left: 10px
    }

    &:not(:placeholder-shown) + .inputText-label {
      font-size: 12px;
      top: 9px;
      left: 10px
    }
  }
}
